body {
  background-color: grey;
}

h1 {
  color: black;
  text-align: center;
}

.title {
  color: white;
  background-color: blue;
  border: black 3px solid;
  margin: auto;
  width: 40%;
  text-align: center;
}

.images {
  border: grey 3px solid;
  height: 200px;
  width: 200px;
  margin: auto;
}

#posts {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

a {
  margin: auto;
}
